# copy this file and rename it to examples.properties
BITMOVIN_API_KEY=
HTTP_INPUT_HOST=
HTTP_INPUT_FILE_PATH=
S3_OUTPUT_BUCKET_NAME=
S3_OUTPUT_ACCESS_KEY=
S3_OUTPUT_SECRET_KEY=
S3_OUTPUT_BASE_PATH=
WATERMARK_IMAGE_PATH=
TEXT_FILTER_TEXT=
DRM_KEY=
DRM_FAIRPLAY_IV=
DRM_FAIRPLAY_URI=
DRM_WIDEVINE_KID=
DRM_WIDEVINE_PSSH=